@{
    ViewBag.Title = "About";
}
<h2 class="center">@ViewBag.Title</h2>
<br>

<p>Event Manager is a platform that allows users to create, manage, and sign up for events. I built the original version to showcase my skills in Ruby on Rails, but I have recreated it here as a C#/ASP.NET MVC project to show that my Rails skills are transferrable to other web frameworks. As with the previous version of Event Manager, I have emphasized functionality over visual polish. In order to be complete, features such as administrator access would also need to be added. If you want a better idea of my CSS skills, please see my portfolio at <a href="http://markdking.me">http://markdking.me</a> or some of my other web apps in <a href="https://github.com/gute73">GitHub</a>.</p>

